{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-underscore-dangle": "off"
  }
}
